* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #358675;
    height: 100px;
}
main {
    height: calc(100vh - 100px);
    background-color: #D2D4C9;
}
.container {
    height: 95vh;
    background-color: yellow;
    width: 80%;
    margin: auto;
    position: absolute;
    top :20px;
    left:10%;
    display: flex;
    flex-direction: column;
}
.immagine-nome-informazione {
    display: flex;
}
img {
    width: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 12px;
}
.nome-informazione {
    font-size: 14px;
    margin-top: 5px;
}
.nome-informazione small {
    color: grey;
}
.ora {
    font-size: 10px;
    color: lightgrey;
    margin-top: 10px;
}

.header-container{
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
}
.header-container-left {
    width: 35%;
    border-right: 1px solid #DFDFDF;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.tre-icone {
    align-self: center;
}
.tre-icone i {
    color: #B1B1B1;
    margin-right: 10px;
}
.tre-icone i:hover {
    cursor: pointer;
}
.header-container-right {
    width: 65%;
    height: 100%;
    padding: 5px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;

}
.main-container {
    height: calc(100% - 50px);
    display: flex;
    background-color: white;
}
.main-container-left{
    width: 35%;
    border-right: 1px solid #DFDFDF;
    height: 100%;
}
.blu {
    height: 60px;
    background-color:#8EDAFC;
    display: flex;
    align-items: center;
    padding: 10px;

}
.blu i {
    font-size: 16px;
    margin-right: 10px;
    background-color: white;
    color: #8EDAFC;
    border-radius: 100%;
    padding: 5px;
}
.blu a {
    color:#5D9EB8;
}

.cerca-contatto {
    height: 40px;
    border: 5px solid #FAFAF8;
    display: flex;
}
.cerca-icon {
    width: 15%;
    height: 100%;
    border-right: 1px solid #FAFAF8;
    color: lightgrey;
    text-align: center;
}
.cerca-icon i {
    margin-top: 8px;
    font-size: 15px;
}
.cerca-icon i:hover {
    cursor: pointer;
}
.cerca-o-inizia {
    width: 85%;
    height: 100%;
}
#cerca-in-chat {
    width: 100%;
    margin-top: 5px;
    padding: 3px;
    border: none;
    color: grey;
    font-size: 12px;
}

.contatti {
    overflow-y: scroll;
    height: calc(100% - 100px);
}
.singolo-contatto{
    height: 50px;
    border-bottom: 2px solid #FAFAF8;
    display: flex;
    padding:5px;
    justify-content: space-between;
}
.singolo-contatto:hover {
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.1);
}
.singolo-contatto.active {
    background-color: #EAEAEA;
}
.main-container-right {
    width: 65%;
    height: 100%;
}
.main-messaggi {
    height: calc(100% - 50px);
    width: 100%;
    background-color: #E5DCD5;
    overflow-y: scroll;
    padding: 40px;
    flex-direction: column;
}
.conversazione {
    width: 100%;
    height: 100%;
}
.messaggio {
    max-width: 60%;
    min-width: 100px;
    font-size: 14px;
    padding: 10px 40px 10px 10px;
    border-radius: 14px;
    margin-bottom: 15px;
    position: relative;
    content: '';
    display: table;
    clear: both;
}
.orario-messaggio {
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 10px;
    color: grey;
}

.ricevuto {
    background-color: white;

}
.inviato {
    background-color: lightgreen;
    float: right;
}
.template {
    display: none;
}

.scrivi-messaggio {
    height: 50px;
    background-color: #F3EEEA;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    color: grey;
}
.scrivi-messaggio i {
    line-height: 50px;
    font-size: 20px;
}
.scrivi-messaggio i:hover {
    cursor: pointer;
}
.barra-imput {
    width: 85%;
}
#invia-messaggio {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    color: black;
    font-size: 12px;
    border: none;
    height: 30px;
    margin: 10px 0;
}
